.mapa{
    height: 448px;
    width: 846px;
    background-image: url(imgs/mapa.jpg);
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;

}
.obstaculos{
    height: 448px;
    width: 846px;
    background-image: url(imgs/obst.png);
    z-index: 3;
    position: absolute;
    background-repeat: no-repeat;

}

.movimento {
    height: 16px;
    width: 16px;
    position: relative;

    top: 21rem; 
    left: 00rem;
    animation: 
        mov-01 linear forwards 1.031s,
        mov-02 linear forwards 1.000s 1.031s,
        mov-03 linear forwards 1.250s 2.031s,
        mov-04 linear forwards 2.000s 3.281s,
        mov-05 linear forwards 1.750s 5.281s,
        mov-06 linear forwards 0.750s 7.031s,
        mov-07 linear forwards 1.500s 7.781s,
        mov-08 linear forwards 0.425s 9.281s,
        mov-09 linear forwards 3.000s 9.706s,
        mov-10 linear forwards 1.175s 12.706s,
        mov-11 linear forwards 0.800s 13.881s,
        mov-12 linear forwards 1.250s 14.681s,
        mov-13 linear forwards 4.550s 15.931s,
        mov-14 linear forwards 1.250s 20.481s,
        mov-15 linear forwards 1.000s 21.731s,
        mov-16 linear forwards 2.250s 22.731s,
        retorno linear forwards 2.000s 24.981s; 
    
    
}

@keyframes mov-01 {to {top: 22rem; left: 04rem;}}
@keyframes mov-02 {to {top: 22rem; left: 08rem;}}
@keyframes mov-03 {to {top: 17rem; left: 08rem;}}
@keyframes mov-04 {to {top: 09rem; left: 08rem;}}
@keyframes mov-05 {to {top: 09rem; left: 15rem;}}
@keyframes mov-06 {to {top: 12rem; left: 15rem;}}
@keyframes mov-07 {to {top: 12rem; left: 21rem;}}
@keyframes mov-08 {to {top: 13.7rem; left: 21rem;}}
@keyframes mov-09 {to {top: 13.7rem; left: 45rem;}}
@keyframes mov-10 {to {top: 09rem; left: 45rem;}}
@keyframes mov-11 {to {top: 09rem; left: 48rem;}}
@keyframes mov-12 {to {top: 14rem; left: 48rem;}}
@keyframes mov-13 {to {top: 14rem; left: 30rem;}}
@keyframes mov-14 {to {top: 19rem; left: 30rem;}}
@keyframes mov-15 {to {top: 19rem; left: 26rem;}}
@keyframes mov-16 {to {top: 28rem; left: 26rem;}}

.kirby {
    height: 30px;
    width: 28px;
    scale: 1.1;
    background-image: url(imgs/kirby\(04\).png);
    position: absolute;
    z-index: 2;
    background-position: -4px -161px;

    animation:
        giro steps(9) 1.031s 0s 1.031,
        andarl steps(9) 1s 1.031s 1,
        subir steps(9) 1s 2.031s 1.25,
        subir2 steps(9) 1s 3.281s 2,
        andar2 steps(9) 1s 5.281s 1.750,
        caindo steps(9) 1s 7.031s 0.750,
        andar3 steps(9) 1s 7.781s 1.500,
        caindo2 steps(9) 1s 9.281s 0.425,
        correr steps(6) 1s 9.706s 3,
        subir2 steps(9) 1s 12.706s 1.175,
        andar4 steps(9) 1s 13.881s 0.8,
        caindo3 steps(9) 1s 14.681s 1.250,
        andar5 steps(9) 1s 15.931s 4.55,
        caindo4 steps(9) 1s 20.481s 1.25,
        andar6 steps(9) 1s 21.731s 1,
        caindo5 steps(9) 1s 22.731s 2.25;
        
}

@keyframes giro{
    from{
        background-position: -6px -157px
    }
    to {
        background-position: -291px -157px;
    }
}

@keyframes andarl{
    from{
        background-position: -6px -44px
    }
    to {
        background-position: -256px -44px;
    }
}

@keyframes subir{
    from{
        background-position: -5px -232px
    }
    to {
        background-position: -292px -232px;
    }
}

@keyframes subir2{
    from{
        background-position: -5px -232px
    }
    to {
        background-position: -292px -232px;
    }
}

@keyframes andar2{
    from{
        background-position: -6px -44px
    }
    to {
        background-position: -256px -44px;
    }
}

@keyframes caindo{
    from{
        background-position: -4px -157px
    }
    to {
        background-position: -291px -157px;
    }
}

@keyframes andar3{
    from{
        background-position: -6px -44px
    }
    to {
        background-position: -256px -44px;
    }
}

@keyframes caindo2{
    from{
        background-position: -169px -345px
    }
    to {
        background-position: -456px -345px;
    }
}

@keyframes correr{
    from{
        background-position: -72px -89px
    }
    to {
        background-position: -265px -89px;
    }
}

@keyframes subir3{
    from{
        background-position: -5px -232px
    }
    to {
        background-position: -292px -232px;
    }
}
@keyframes andar4{
    from{
        background-position: -6px -44px
    }
    to {
        background-position: -256px -44px;
    }
}

@keyframes caindo3{
    from{
        background-position: -169px -345px
    }
    to {
        background-position: -456px -345px;
    }
}

@keyframes andar5{
    from{
        background-position: -136px -272px
    }
    to {
        background-position: -388px -272px;
    }
}

@keyframes caindo4{
    from{
        background-position: -169px -345px
    }
    to {
        background-position: -456px -345px;
    }
}

@keyframes andar6{
    from{
        background-position: -136px -272px
    }
    to {
        background-position: -388px -272px;
    }
}

@keyframes caindo5{
    from{
        background-position: -169px -345px
    }
    to {
        background-position: -456px -345px;
    }
}